@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Sono', sans-serif;
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    padding: 1%;
    background-color: rgb(49, 49, 49);
    border-radius: 3%;
    
}
.inputFields {
    margin-bottom: 1%;
    background:none;
    font-size: 16px;
    padding: 1%;
    color: white;
    resize: none;
}
.container textarea {
    margin: 10px auto;
    border-radius: 15px;
    width: 80%;
    padding: 5px 15px;
    border: 3px solid rgb(19, 156, 19);
    background-color: rgb(31, 31, 31);
    font-family: 'Climate Crisis', cursive;
    color: rgb(19, 156, 19);
}
.buttonCreate {
    margin-top: 2%;
    width: 50%;
    padding: 2%;
    margin-left: 26%;
    transition: 0.5s ease-in-out;
}
.buttonCreate:hover {
    color: rgb(19, 156, 19);
    background-color: rgb(19, 19, 19);
}
.container h1 {
    text-align: center;
    color: rgb(19, 156, 19);
    border-bottom: 1px solid rgb(19, 156, 19);
    
}
.divDateStart {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    color: grey;
}
.divDateEnd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.containerChoose {
    display: flex;
    justify-content: space-between;
}

