<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Event ticket</title>
  <link rel="stylesheet" href="./template.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
    body {background-color: rgb(31, 31, 31);}
    h1   {
      color: rgb(19, 156, 19);
      font-family: 'Climate Crisis', cursive;
      letter-spacing: 1px;
      text-align: center;
    }
    h2   {
      color: rgb(19, 156, 19);
      font-family: 'Climate Crisis', cursive;
      letter-spacing: 1px;
      text-align: center;
    }
    pre {
      color: rgb(19, 156, 19);
      font-family: 'Climate Crisis', cursive;
      letter-spacing: 1px;
    }
    a {
      color: rgb(19, 156, 19);
      font-family: 'Climate Crisis', cursive;
      letter-spacing: 1px;
    }
    .content{
      min-width: 10mm;
      min-height: 10mm;
    }
  </style>
</head>

<body>
  <h1>Uevent</h1>
  <h2><%=header%></h2>
  <div class="content">
    <pre><%=text%></pre>
    <a href="<%=link%>">Clik here</a>
  </div>

  
</body>

</html>