.slider{
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}
.sloder::before{
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.95%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #000000);
}
.slider::after{
    position: absolute;
    right: 0;
    content: "";
    width: 3.95%;
    height: 110px;
    background: linear-gradient(90deg, hsla(0, 0%, 96.9%, 0), hsla(0, 0%, 12.1%, 0.39) 99%);
}
.slider .slide_track{
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(240px * 10);
}
.slider .slide{
    display: flex;
}
.slider .slide p{
    border: 2px solid rgb(19, 156, 19);
    width: fit-content;
    height: 40px;
    padding: 10px;
    color: rgb(19, 156, 19);
    font-family: 'Climate Crisis', cursive;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: color .3s ease-in-out;
}
.slider .slide p:hover{
    color: rgb(31, 31, 31);
    background-color: rgb(19, 156, 19);
}

@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-210px * 5));
        transform: translateX(calc(-210px * 5));
    }
}